<h3> Número de preguntas <%= stats.questions %></h3>
<h3> Número de comentarios <%= stats.comments %></h3>
<h3> Número medio de comentarios por pregunta <%= stats.commentsforquestion %></h3>
<h3> Número de preguntas sin comentarios <%= stats.questionswithoutcomments %></h3>
<h3> Número de preguntas con comentarios <%= stats.questionswithcomments %></h3>
